<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>NetSentry Collector</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NetSentryCollector</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Local-only network telemetry collector.</string>
	<key>NetSentryAppBundleID</key>
	<string>$(NETSENTRY_APP_BUNDLE_ID)</string>
	<key>NetSentryAppGroup</key>
	<string>$(NETSENTRY_APP_GROUP)</string>
	<key>NetSentryCollectorBundleID</key>
	<string>$(NETSENTRY_COLLECTOR_BUNDLE_ID)</string>
	<key>NetSentryMachService</key>
	<string>$(NETSENTRY_MACH_SERVICE)</string>
	<key>NetSentryTeamID</key>
	<string>$(NETSENTRY_TEAM_ID)</string>
</dict>
</plist>
